
.idea/
build/
mybudget.iml
pubspec.lock



# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/ios/Flutter/.last_build_id


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
